{% extends 'main/bdheader.html' %}

{% block content %}


    <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">
              <a href="{% url 'export-csv' %}">Excel</a></button>
            <button type="button" class="btn btn-sm btn-outline-secondary">
              <a href="{% url 'export-pdf' %}">
            Pdf
          </a>
          </button>
          </div>
         
        </div>


<div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0" style="background-color: #219dfe;color:white;">
              <h6 style="color:white;">Products Table</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                        
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Prodcut Name</th>
<th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Prodcut Price</th>
  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Prodcut Info</th>
<th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Prodcut quantity</th>
                  
                    </tr>
                  </thead>
                  <tbody>
 


   
                 {% for product_list in product_list %}
           
                    <tr>
                      
                         <td>
                        <div class="d-flex px-2 py-1">
                          <div>
                            <img src="{{ product_list.product_image.url }}" class="avatar avatar-sm me-3" alt="user1">
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                              
                            <h6 class="mb-0 text-sm">{{ product_list.product_name }}</h6>
                           
                           
                          </div>
                        </div>
                      </td>
                 
                      <td>
                          <h6 class="mb-0 text-sm">{{ product_list.product_price }}</h6>
                      </td>
                      <td>
                            <h6 class="mb-0 text-sm">{{ product_list.product_info}}</h6>
                      </td>
                     
                      <td class="align-middle text-center">
                   <h6 class="mb-0 text-sm">{{ product_list.product_quantity  }}</h6>
                      </td>
                      <td class="align-middle">
                           <a href="{% url 'open-product' product_list.id %}" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                          View
                        </a>
                        / 
                        <a href="{% url 'Update-product' product_list.id %}" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                          Edit
                        </a>
                      </td>
                    </tr>
                
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>


{% endblock content %}