{% extends 'main/bdheader.html '%}


{% block content %}

  


      
        <div class="col-md-9 mt-4">
          <div class="card h-100 mb-4" >
            <div class="card-header pb-0 px-3" style="background-color: #219dfe;color:white;">
              <div class="row">
                {% if messages %}

      {% for message in messages %}

      <div class="alert alert-{{message.tags}}" role="alert">
        {{ message }}
      </div>
      {% endfor %}
      {%endif %}
                <div class="col-md-6" >
                  <h6 class="mb-0" style="color:white;">Your Transaction's</h6>

                </div>
                {% if companyname %}

         {{ companyname.companyname }}
         
                {% endif %}

                <div class="col-md-6 d-flex justify-content-end align-items-center">
                  <i class="far fa-calendar-alt me-2"></i>
                  <small>{{ today }}</small>
                </div>
              </div>
            </div>
            
            <div class="card-body pt-4 p-3">
              
              <h6 class="text-uppercase text-body text-xs font-weight-bolder mb-3">Your products </h6>
              
              <ul class="list-group">
                  {% for usercartinfo in usercartinfo %} 
                   
                <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                  <div class="d-flex align-items-center">
                    <button class="btn btn-icon-only btn-rounded btn-outline-danger mb-0 me-3 btn-sm d-flex align-items-center justify-content-center"><i class='fa fa-shopping-basket'></i></button>
                       
                    <div class="d-flex flex-column">
                            

                      <h6 class="mb-1 text-dark text-sm">{{ usercartinfo.productname }}</h6>
                 
                    
                    </div>
                    
                  </div>

                 <div class="d-flex align-items-right text-danger text-gradient text-sm font-weight-bold">
  <h6 class="mb-1 text-dark text-sm">QTY : {{ usercartinfo.productqty }}</h6>
                  </div>
                  <div class="d-flex align-items-center text-danger text-gradient text-sm font-weight-bold">
                    $ {{ usercartinfo.productprice }}
                          <a class="btn btn-link text-danger text-gradient px-3 mb-0" href="{% url 'delete-cart-product' usercartinfo.id %}"><i class='fa fa-remove'></i></a>

                  </div>
                
                </li>
               
                {% endfor %}
                <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                    Total
                   
                    <div class="d-flex align-items-center text-danger text-gradient text-sm font-weight-bold">
                 {{ total.total_price }}
              
                  <a class="btn btn-link text-danger text-gradient px-3 mb-0" href=""><i class='fa fa-dollar'></i></a>
                 <input type="text" hidden="hidden"  name="amount" value="{{ total }}"/>

                 <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
               
               <form method="Post" action="{% url 'payment' %}">
               {% csrf_token %}
            <div class="mb-3">
               <input type="text" hidden="hidden" name="amount" value="{{ total.total_price }}"/>
                  <input type="number" min="0" required="required" class="form-control" name="ecocashnumber" placeholder="Ecocash Number" aria-label="Password" aria-describedby="password-addon">
                </div>

            
                    
                    <div class="d-flex align-items-center text-sm font-weight-bold">
          
                        
                <button type="submit" class="btn btn-info">Submit</button>

                        </form>
                  </div>
                </li>
              </ul>
        
           
            </div>
          
          </div>
        </div>
      </div>

 
{% endblock content %}